.reveal-dot-icons {
  position: relative;
  transform: translateY(-150px);
  left: -20px;
  top: -294px;
  opacity: 0;
  transition: 2s all ease;
}
.reveal-dot-icons.active {
  transform: translateY(0);
  opacity: 1;
}
